<div class="main-wrapper">
    <ng-container *ngIf="!isAuthPage">
        <app-header></app-header>
        <app-sidebar></app-sidebar>
        <app-horizontal-sidebar></app-horizontal-sidebar>
        <app-two-col-sidebar></app-two-col-sidebar>

        <div class="page-wrapper">
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </ng-container>

    <ng-container *ngIf="isAuthPage">
        <router-outlet></router-outlet>
    </ng-container>
</div>