@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    margin: 0;
}

.main-wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
